doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
header
  div
    div
      img(src='' alt='')
    div
      h1
nav
  div
    a(href='')
    div
    a(href='')
main
  div
    div
      div
        h3
      div
        h3
  div
    div
      div
        img(src='' alt='')
      div
        h4
        p
      div
        div
          h3
