include components/commonHeader.pug

main
  section#principal_section
    div.principal_buttons.width_control
      div.flex
        button.active Inicio de sesión
        button Registro de usuario
      div#initsection.inputsecction
        form
          input(type="email", name="", placeholder="Email")
          input(type="text", name="", placeholder="Contraseña")
          input(type="submit", value="Iniciar sesión")
      div#loginsection.inputsecction.invisible
        form
          input(type="text", name="", placeholder="Nombre completo")
          input(type="email", name="", placeholder="Email")
          input(type="text", name="", placeholder="Contraseña")
          input(type="submit", value="Registrarme")
    div#noregister_section
      div.width_control
        div.flex
          div.smile_face
            img(src='images/no_register_img.png' alt='')
          div.subdiv
            h3 Inscripción sin registro
            p Si no te quieres hacer cuenta pero deseas inscribir a tu Vencejo no te preocupes, te lo ponemos facil, lo puedes hacer sin problema pinchando en el botón de abajo.
        div.principal_buttons.complete
            button Inscribir
include components/scripts.pug
